.bd_r:after, .bd_b:after, .bd_t:after, .bd_l:after { content: none; }
.bd_r { border-right: 1px solid #ddd; }
.bd_b { border-bottom: 1px solid #ddd; }
.bd_t { border-top: 1px solid #ddd; }
.bd_l { border-left: 1px solid #ddd; }

body { color: rgba(0, 0, 0, 0.65); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

.app-view, .app-skeleton { background: #fff; }
.app-h2, .app-h3 { font-weight: 500; color: #0d1a26; font-size: 24px; line-height: 32px; margin: 0 0 10px 0; }
.app-h3 { font-size: 20px; }
.app-toolbar { padding-bottom: 10px; }

.nc-main { background-color: #ecf0f5; padding: 15px; height: 100%; overflow-y: auto; }
.nc-title { border-bottom: 1px solid #eee; margin-bottom: 20px; font-size: 14px; padding: 2px 10px 10px 10px; }
.nc-title-level2 { border-bottom: none; color: #000; padding-top: 0; padding-left: 0; margin-bottom: 10px; }
.nc-split { margin-top: 20px; margin-bottom: 20px; font-size: 13px; padding: 2px 10px 10px 10px; color: #555; }
.nc-split:before, .nc-split::after { height: 0px; border-bottom: 1px solid #eee; display: block; content: ''; }
.nc-split:before { width: 20px; }
.nc-split::after { flex: 1; }
.nc-card { background-color: #fff; padding: 10px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.nc-footer { box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1); left: 0; right: 0; bottom: 0px; height: 50px; background-color: #fff; position: fixed; padding: 0 10px; }

.bf-container { border: 1px solid #d9d9d9; border-radius: 4px; }